
<h2>Preencha seus dados abaixo:</h2>
<p>Sua cotação será realizada logo que recebermos suas informações. Ao terminar de preencher, clique em "enviar".</p>

<form action="/contact" method="post">


<fieldset>


<input name="name" type="text" placeholder="Nome Completo" onsubmit="return false">
<input name="email" type="email" placeholder="E-mail" onsubmit="return false">
<input name="tel" type="text" placeholder="Telefone de contato com (DDD)">
<input name="nasc" type="text" placeholder="Data de nascimento">
<input name="cpf" type="text" placeholder="CPF">
<input name="estc" type="text" placeholder="Estado civil">
<input name="end" type="text" placeholder="Endereço">
<input name="cep" type="text" placeholder="CEP">
<input name="prof" type="text" placeholder="Profissão">
<input name="carro" type="text" placeholder="Veículo, marca, modelo, ano (conforme documentos).">
<input name="placa" type="text" placeholder="Placa">
<input name="chassi" type="text" placeholder="Chassi">


<div class="switch-field">
  <div class="switch-title">Possui garagem na residência?</div>
      <input type="radio" id="garagr" name="garagr" value="Sim" checked/>
        <label for="garagr">Sim</label>
        <input type="radio" id="naogaragr" name="garagr" value="Não" />
        <label for="naogaragr">Não</label>
      </div>


<div class="switch-field">
  <div class="switch-title">Possui garagem no trabalho?</div>
      <input type="radio" id="garagt" name="garagt" value="Sim" checked/>
        <label for="garagt">Sim</label>
        <input type="radio" id="naogaragt" name="garagt" value="Não" />
        <label for="naogaragt">Não</label>
      </div>


  <div class="switch-field">
    <div class="switch-title">Tipo de câmbio:</div>
        <input type="radio" id="mecanico" name="cambio" value="Mecanico" checked/>
          <label for="mecanico">Macânico</label>
          <input type="radio" id="automatico" name="cambio" value="Automatico"/>
          <label for="automatico">Automático</label>
        </div>


  <div class="switch-field">
    <div class="switch-title">O veículo é blindado?</div>
        <input type="radio" id="blindado" name="blindado" value="Sim" checked/>
          <label for="blindado">Sim</label>
          <input type="radio" id="naoBlindado" name="blindado" value="Não" />
          <label for="naoBlindado">Não</label>
      </div>


</fieldset>

<input id="submit-form" type="submit" class="button" value="Enviar" />


</form>
